.in-event {
    position: relative;  /* Required for overlay positioning */
}

.in-event::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    pointer-events: none; /* Allows clicks on image beneath */
}

img {
    height: 150px;
    width: 150px;
}